{% extends 'base.html.twig' %}

{% block body %}


    <p class="Titre"><b>{% block title %} {{title}} {% endblock %}</b></p>

    <p class="Article"> {{contenu}} </p>




<p>Nombre de Commentaire : <b> {{comments|length}} </b></p>


{% for comment in comments %}
    <p class="Commentaire">{{comment}}</p>
{% endfor %}






{% endblock %}